* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Slab", serif;
}

:root {
    --mc: #dc3545;
    --t-transition: 1s;
    --m-bor: 5px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--mc);
    border-radius: var(--m-bor);
}

html::-webkit-scrollbar {
    width: 10px;
}

/* Gloabl */

.text-transition {
    transition: var(--t-transition);
}

/* Navbar Start */

.nav-item .nav-link {
    transition: var(--t-transition);
    color: black;
}

.nav-item .nav-link:hover {
    color: var(--mc);
}

/* Navbar End */

/* space */
@media screen and (max-width: 992px) {
    .height {
        margin-top: 16% !important;
    }
}
